.nav-container {
    position: relative;
    display: none;
    flex-direction: column;
    padding: 0 to-rem(30px);
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: 3;

    .mobile-navigation {
        display: flex;
        flex-direction: column;
        z-index: 4;

        &__item {
            border-bottom: 1px solid $white;
            &:first-of-type {
                border-top: 1px solid $white;
            }
        }
    }

    .standard-options {
        position: relative;
        padding: to-rem(30px) 0;
        display: flex;
        justify-content: space-between;
        z-index: 4;

        img {
            fill: white;
        }
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $d-blue;
        z-index: 1;
        opacity: 0.96;
    }

    .socials {
        display: flex;
        flex-direction: row;
    }
}

.js-isActive {
    display: flex;
}